# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Flutter generated platform files
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/
app/coverage/
app/android/.gradle/
app/android/build/
app/android/local.properties
app/android/app/build/
app/android/app/debug/
app/android/app/profile/
app/android/app/release/
app/android/app/*.apk
app/android/app/*.aab
app/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# IDE/editor
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
